<div class="container posts-new">
  <div class="row">

  </div>
</div>

<div class="container emp-profile">
  <div class="row">
    <div class="col-lg-8 bg-e">

    </div>
    <div class="col-lg-4">
      <h3>created by: <%= @event.user.username %></h3>
      <h1><%= @event.name %></h1>
      <h3><%= @event.event_date %></h3>
      <h3><%= @event.location %></h3>
      <h4><%= @event.description %></h4>

      <h4 class="margin-top-4">Attendees listed in this event:</h4>
      <% @event.attendees.each do |attendee| %>
        <h4><%= attendee.username %></h4>
      <% end %>
    <%= render 'att-check' %>
    </div>
  </div>
</div>
